/* app css stylesheet */
header h1 {
    background: #2D2D2D;
    color: #BBBBBB;
    margin-bottom: 0.5em;
}

body {
    background: #fa0;
}


p,
body,
input,
.btn{
    font-size: 14px;
}

input[type="search"] {
}

h2 {
    margin-bottom: 0.5em;
}

.rightHeaderButtons {
    float: right;
}

.clearLeft {
    clear: left;
}

.fade {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.fade.in {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
}

.fade.out {
    opacity: 0;
    height: 0px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
}

.page {
    margin-bottom: 1em;
}

.hidden {
    display: none;
}


.floatLeft {
    float: left;
}

/* Top Nav Bar*/

.navbar-inner {
    border-radius: 0px;
}

.navbar .brand {
    color: #fa0;
    padding: 1px 10px;
    /*
    font-family: 'Henny Penny', cursive;
    font-size: 30px;
    position: relative;
    top: 8px;
    text-shadow: 1px 2px 3px #e80;
    */
}

.navbar ul,
.navbar p {
    position: relative;
    top: 12px;
}


/*Stuff List*/

.stuffList > li {
    margin-bottom: 2em;
    clear: both;
    overflow: hidden;
}

.visibility {
    color: #888;
}

.stuffFooter {
    opacity: 0.8;
}

.owner {
    font-style: italic;
}

.friendStuffList {
    margin-top: 1em;
}
.friendStuffList .owner{
    display: none;
}

.stuffImageBox {
    /* float: left;*/
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.stuffImageBox img{
    max-width: 600px;
    max-height: 200px;
    border-radius: 5px;
}

.wish {
    font-style: italic;
}

/* Left Menu */

.nav .nav li {
    margin-left: 1em;
}

.nav > li a{
    /*border: 1px solid #eee;*/
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
}

/* Forms */

.btn-group .active {
    font-weight: bold;
}

.multiSelect {
    margin-bottom: 0.8em;
}

label::after {
    content: ": ";
}

label {
    font-weight: bold;
}

label.checkBoxLabel::after {
    content: ""
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

input[type="radio"] {
    margin-right: 3px;
}

label.checkBoxLabel {
    display: inline;
    margin-right: 0.5em;
}

label.checkBoxLabel input{
    top: -2px;
    position: relative;
}

.error {
    color: red;
    margin-bottom: 1em;
}

.addItemForm {
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 1em;
    margin-bottom: 1em;
}

.itemForm textarea,
input {
    width: 98%;
}

.itemForm textarea {
    height: 6em;
}

.editStuffButton {
}

.dropdown-menu {
    right: 0;
    left: auto;
    min-width: 100px;
}

.description {
    margin: 0 0 0.3em 0;
}

.urlDisplay {
    font-size: 0.9em;
}

.collapseSection{
    margin-top: 0.5em;
}

/* Stuff Form*/

.stuffForm label{
    margin-top: 0.5em;
}

.sharingDirectionSelector {
    float: left;
    margin-right: 2em;
    width: 22em;
}

/* Login Form */

h2 {
    font-family: sans-serif;
    color: #333;
}

#loginForm {
}

#loginForm input {
    display: block;
}

#loginForm p {
    margin: 1em 0;
}

/* Box*/

.box {
    box-shadow:  2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1em;
}

.box .box {
    box-shadow:  none;
    border: none;
    padding: 0;
}


.boxMinHeight {
    min-height: 500px;
    padding-left: 2em;
    padding-right: 2em;
}

/* Export Import*/

.inexport textarea {
    height: 20em;
}

/* Alerts*/

.alert a {
    font-weight: bold;
}

/* Profile */

.profileImage {
    max-width: 200px;
    max-height: 200px;
}

.savedAlert {
    height: 2em;
}

.profileTable td{
    padding-right: 0.5em;
}

.profileTable label {
    margin-bottom: 0;
}