<h2>What is Shared Stuff?</h2>

<h3>Share Real Stuff with Friends</h3>
<p>With "Shared Stuff" you can edit a list of (real world)
    stuff that you own and share it with your friends. You can search and
    browse an aggregated view of all the stuff that your friends have.</p>

<h3>Save the World and Have Fun</h3>
<p>Imagine you need an electric drill but don't want to buy one for the 2
    holes you drill in one year. With Shared Stuff you can easily see who of your
    friends you can ask.
    You can also find inspirations for good books in your friend's list or
    discover an old unused sega game console for a fun retro gaming party ...</p>

<h3>You own Your Data</h3>
<p>The stuff you own is an valuable personal profile, that should not be on a central server
    you can't control. Your data in Shared Stuff will be saved in your remote storage account.</p>


<h3>It's Open Source</h3>
<p>You can follow the project at <a target="link" href="https://github.com/shared-stuff">github.com/shared-stuff</a>.
Please report your suggestions and bugs here:
<a target="link" href="https://github.com/shared-stuff/shared-stuff/issues">github.com/shared-stuff/shared-stuff/issues</a>.
For questions, open discussions and news please subscribe to the <a target="link" href="https://groups.google.com/group/shared-stuff-unhosted">Shared Stuff Mailinglist</a>.
</p>