<div class="btn-group rightHeaderButtons" >
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Sort By {{sortAttributeNames[sortAttribute]}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-click="sortBy('-modified')">Newest</a></li>
        <li><a ng-click="sortBy('title')">Title</a></li>
        <li><a ng-click="sortBy('owner.name')">Friend</a></li>
    </ul>
</div>
<h2>Friends' Stuff</h2>

<img src="img/loading.gif" alt="Loading..." ng-show="status=='LOADING'">

<div class="alert alert-info" ng-hide="status != 'NO_FRIENDS'">
    It seems that you have no friends. You can change this by <a href="#/friends">adding some friends</a>.
    If you have no Shared Stuff friends yet, you can <a href="#addFriend/shybyte@owncube.com">add shybyte</a> as a friend.
    He's the programmer of Shared Stuff.
</div>

<div class="alert alert-info" ng-hide="status != 'DONE' || stuffList.length>0">
    It seems that your friends have no stuff. You can change this by
    <a href="#/friends">adding more friends</a> or encourage your friends to add some shared stuff.
</div>

<ul class="unstyled stuffList">
    <li ng-repeat="stuff in stuffList | orderBy:sortAttribute">
        <h3>{{stuff.title}}</h3>
        <p class="description" ng-bind-html="stuff.description | linky"></p>
        <div class="owner"> <a href="#/friends/{{stuff.owner.id}}">{{stuff.owner.name}}</a> ({{ stuff.modified | date}})</div>
    </li>
</ul>