<div class="box">

    <h2>Invitation from {{friend.name || "No Name"}}</h2>

    <div ng-include src="'partials/profile-display.html'">Loading...</div>
    <p>
        {{friend.name}} wants to share some stuff with you!
    </p>

    <button class="btn btn-primary" ng-click="addFriend()" ng-hide="!session.isLoggedIn">Add to my friends</button>

    <div ng-hide="session.isLoggedIn">
        <p>In order to add {{friend.name}} to your friends and share your stuff with your friends you need to login to
            "Shared Stuff".</p>
        <button class="btn btn-primary" ng-click="addFriend()">Login and Add Friend</button>
    </div>

    <h2 class="clearLeft" style="margin-top: 1em;">{{friend.name || "No Name"}}'s Stuff:</h2>

    <ul class="unstyled stuffList friendStuffList">
        <li ng-repeat="stuff in stuffList | orderBy:'title'">
            <h3>{{stuff.title}}</h3>
            <span stuff-image src="{{stuff.image}}"/>
            <p class="description" ng-bind-html="stuff.description | linky"></p>
            <a ng-show="stuff.link" href="{{stuff.link}}" target="link">External Link</a>
        </li>
    </ul>

</div>