<div class="rightHeaderButtons">
    <button id="showAddFriendFormButton" class="btn" ng-click="showAddForm()" ng-hide="!isAddFriendFormHidden">Add Friend</button>
    <button id="inviteFriend" class="btn" ng-click="inviteFriend()" ng-hide="!isInviteFriendFormHidden">Invite</button>
</div>
<h2>My Friends</h2>


<div class="addItemForm" ng-hide="isAddFriendFormHidden">
    <h3>Add Friend</h3>
    <div ng-include src="'partials/friend-form.html'">Toll</div>
    <button class="btn btn-primary" ng-click="addFriend()">Add Friend</button>
</div>

<div class="addItemForm itemForm" ng-hide="isInviteFriendFormHidden">
    <h3>Invite Friend</h3>
    <label for="inviteUrl">To invite a friend and share your stuff with your friend, send this link:</label>
    <input id="inviteUrl" name="inviteUrl" ng-model="inviteUrl" ng-model-instant autofocus="autofocus"/>
    <h3>Invite Public</h3>
    <label for="publicInviteUrl">To invite the public and share your stuff with the public, send this link:</label>
    <input id="publicInviteUrl" name="publicInviteUrl" ng-model="publicInviteUrl" ng-model-instant/>
    <button class="btn btn-primary" ng-click="closeInviteFriend()" id="closeInviteFriend">OK</button>
</div>

<div class="alert alert-info" ng-hide="friendList.length>0">
    You have no friends? I can't believe that. Please add some!
</div>

<ul class="unstyled friendList">
    <li ng-repeat="friend in friendList | orderBy:'title'">
        <h3><a href="#/friends/{{friend.id}}">{{friend.name || "No Name"}}</a></h3>
        <p>{{friend.userAddress}}</p>
    </li>
</ul>