<div class="rightHeaderButtons">
    <button id="showAddFriendFormButton" class="btn" ng-click="showAddForm()" ng-hide="!isAddFriendFormHidden">Add Friend</button>
    <button id="inviteFriend" class="btn" ng-click="inviteFriend()" ng-show="isInviteFriendButtonShown">Invite</button>
</div>
<h2>My Friends</h2>


<div class="addItemForm" ng-hide="isAddFriendFormHidden">
    <a class="close" ng-click="closeForm()">&times;</a>
    <h3>Add Friend</h3>
    <div ng-include src="'partials/friend-form.html'">Toll</div>
    <button class="btn btn-primary" ng-click="addFriend()">Add Friend</button>
</div>

<div class="alert alert-info" ng-show="status=='LOADED' && friendList.length==0">
    You have no friends? I can't believe that. Please add some!
</div>

<ul class="unstyled friendList">
    <li ng-repeat="friend in friendList | orderBy:'name'">
        <h3><a href="#/friends/{{friend.id}}">{{friend.name || "No Name"}}</a></h3>
        <p>{{friend.userAddress}}</p>
    </li>
</ul>