<div class="box" xmlns="http://www.w3.org/1999/html">

    <h2>Invitation from {{friend.name || "No Name"}}</h2>

    <div ng-include src="'partials/profile-display.html'">Loading...</div>
    <p>
        {{friend.name}} wants to share some real stuff with you!
    </p>

    <p ng-show="existingFriend">
        It seems that <a href="#/friends/{{existingFriend.id}}">{{friend.name}}</a> is already in your list of friends.
    </p>

    <button class="btn btn-primary" ng-click="addFriend()" ng-hide="!session.isLoggedIn || existingFriend">Add to my friends</button>

    <div ng-hide="session.isLoggedIn">
        <p>In order to add {{friend.name}} to your friends and share your stuff with your friends you need to login to
            "Shared Stuff".</p>
        <button class="btn btn-primary" ng-click="addFriend()">Login and Add Friend</button>
    </div>

    <h2 class="clearLeft" style="margin-top: 1em;">{{friend.name || "No Name"}}'s Stuff:</h2>

    <ul class="unstyled stuffList friendStuffList">
        <li ng-repeat="stuff in stuffList | orderBy:'title'">
            <div friend-stuff  item="stuff"/>
        </li>
    </ul>

    <div class="alert alert-info" ng-show="stuffList.length==0 && status=='LOADED'">
        It seems that {{friend.name}} has no Stuff. You could ask {{friend.name}} to add some stuff!
    </div>

</div>