<div class="row">

    <div class="span8">
        <div class="box boxMinHeight">
            <h2>What is Shared Stuff?</h2>

            <h3>Share Real Stuff with Friends</h3>
            <p>With "Shared Stuff" you can edit a list of (real world)
            stuff that you own and share it with your friends. You can search and
            browse an aggregated view of all the stuff that your friends have.</p>

            <h3>Save the World and Have Fun</h3>
            <p>Imagine you need an electric drill but don't want to buy one for the 2
            holes you drill in one year. With Shared Stuff you can easily see who of your
            friends you can ask.
            You can also find inspirations for good books in your friend's list or
            discover an old unused sega game console for a fun retro gaming party ...</p>

            <h3>You own your Data</h3>
            <p>The stuff you own is a valuable personal profile, that should not be on a central server
               you can't control. Your data in Shared Stuff will be saved in your remote storage account.</p>

        </div>
    </div>

    <div class="span4">
        <form id="loginForm" class="itemForm box" method="POST" target="#" ng-submit="login()">
            <h2>Login</h2>
            <label for="remoteStorageId">Remote Storage ID</label>
            <input id="remoteStorageID" type="text" placeholder="Example: username@owncube.com" autofocus="true"
                    ng-model="userAddress" ng-model-instant/>

            <button class="btn btn-primary">Login</button>

            <p>
                You need an <a href="http://unhosted.org/#remotestorage" target="_blank">remoteStorage</a> account to use Shared Stuff. If you haven't yet,
                get free remoteStorage at <a href="https://5apps.com/" target="_blank">5apps</a> or <a href="https://owncube.com/" target="_blank">OwnCube</a> and come back.
            </p>

        </form>
    </div>

</div>

