<div class="row" ng-hide="session.isLoggedIn">

    <div class="span8">
        <div class="box boxMinHeight" ng-include src="'partials/about-text.html'">
        </div>
    </div>

    <div class="span4">
        <form id="loginForm" class="itemForm box" method="POST" target="#" ng-submit="login()">
            <h2>Login</h2>
            <label for="remoteStorageId">Remote Storage ID</label>
            <input id="remoteStorageID" type="text" placeholder="Example: username@owncube.com" autofocus="true"
                    ng-model="userAddress" ng-model-instant/>

            <button class="btn btn-primary">Login</button>

            <p>
                You need an <a href="http://unhosted.org/#remotestorage" target="_blank">remoteStorage</a> account to use Shared Stuff. If you haven't yet,
                get free remoteStorage at <a href="https://5apps.com/" target="_blank">5apps</a> or <a href="https://owncube.com/" target="_blank">OwnCube</a> and come back.
            </p>

        </form>
    </div>

</div>

<div class="row" ng-hide="!session.isLoggedIn">
    You are logged in.
</div>

