<form name="itemForm" class="itemForm stuffForm">
    <label for="title">Title</label>
    <input id="title" name="title" ng-model="stuff.title" ng-model-instant autofocus="autofocus" placeholder="Required!" required/>

    <div class="error" ng-show="itemForm.title.$error.required && showValidationErrors">Title is required!</div>

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10" ng-model="stuff.description" placeholder="Optional Information about this stuff."></textarea><br>

    <label for="categories">Categories</label>
    <input id="categories" name="categories" ng-model="stuff.categories" ng-model-instant
           placeholder="Optional, Example: Book Thriller Science-Fiction"/>

    <label for="location">Location</label>
    <input id="location" name="location" ng-model="stuff.location" ng-model-instant
           placeholder="Optional, Default: {{profile.location || 'Your Profile Location (go to My Account)'}}"/>

    <div class="clearfix">
        <div class="sharingDirectionSelector">
            <label>Sharing Direction</label>
            <label class="checkBoxLabel"><input type="radio" ng-model="stuff.sharingDirection" value="give">Give</label>
            <label class="checkBoxLabel"><input type="radio" ng-model="stuff.sharingDirection" value="wish">Wish</label>
        </div>

        <div class="">
            <label>Sharing Type</label>

            <div sharing-types-select values="stuff.sharingTypes"/>
        </div>
    </div>

    <label class="clearLeft" for="description">Visibility</label>
    <select id="visibility" ng-options="key as value for (key , value) in circles" ng-model="stuff.visibility"></select>

    <div class="collapseSection">
    <a data-toggle="collapse" data-target="#advancedAttributes">Show Advanced Attributes</a>
    <div id="advancedAttributes" class="collapse ou">
        <label for="link">Link Url</label>
        <input id="link" name="link" ng-model="stuff.link"  placeholder="Optional" ng-model-instant/>

        <label for="image">Image Url</label>
        <input id="image" name="image" ng-model="stuff.image" placeholder="Optional" ng-model-instant/>
    </div>
    </div>

</form>